In [2]:
import pandas as pd
import os

In [3]:
input_dir = "../data/raw"
fname = 'rssi.csv'
fpath = os.path.join(input_dir, fname)

In [8]:
df_chunks = pd.read_csv(fpath, chunksize=10000,parse_dates=['DateTime'] )

In [9]:
df = next(df_chunks)

In [10]:
df = df.set_index('DateTime')
df

,ID,AreaNumber,Track,Position,PositionNoLeap,Latitude,Longitude,A1_TotalTel,A1_ValidTel,A2_RSSI,A2_TotalTel,A2_ValidTel
DateTime,,,,,,,,,,,,
2021-01-09 00:00:01,1,33,1,315325,322075,47.310370,8.114984,1754745,1731249,2.09,1553797,1549606
2021-01-09 00:00:02,2,33,1,315404,322154,47.310308,8.115033,1754750,1731254,1.99,1553802,1549611
2021-01-09 00:00:03,3,33,1,315477,322227,47.310248,8.115072,1754755,1731259,2.05,1553807,1549616
2021-01-09 00:00:04,4,33,1,315542,322292,47.310194,8.115106,1754760,1731264,2.06,1553812,1549621
2021-01-09 00:00:05,5,33,1,315601,322351,47.310145,8.115134,1754764,1731268,1.75,1553816,1549625
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-09 02:46:36,9996,40,2,420442,427192,47.241035,8.189314,1800582,1777084,2.19,1599626,1595432
2021-01-09 02:46:37,9997,40,2,420442,427192,47.241035,8.189314,1800587,1777089,2.19,1599631,1595437
2021-01-09 02:46:38,9998,40,2,420442,427192,47.241035,8.189314,1800592,1777094,2.16,1599636,1595442
2021-01-09 02:46:39,9999,40,2,420442,427192,47.241035,8.189314,1800596,1777098,2.19,1599640,1595446
2021-01-09 02:46:40,10000,40,2,420442,427192,47.241035,8.189314,1800601,1777103,2.16,1599645,1595451

In [11]:
cols = ['Track','PositionNoLeap','A1_TotalTel', 'A1_ValidTel', 'A2_RSSI', 'A2_TotalTel', 'A2_ValidTel'] 
grouped = df.loc[:,cols] \
            .groupby(['Track','PositionNoLeap']) \
            .resample('1H') \
            .mean()

In [12]:
grouped = grouped.drop(columns=['PositionNoLeap','Track'])

In [13]:
df.to_csv('../../data-processing/data/interim/rssi_sample.csv')

# Create some dummy json for mocking api

In [193]:
df_chunks = pd.read_csv('../../data-processing/data/raw/rssi.csv',index_col='DateTime', parse_dates=['DateTime',], chunksize=1000000)

In [194]:
df = next(df_chunks)

In [195]:
df = df.sort_index()
df.head()

,ID,AreaNumber,Track,Position,PositionNoLeap,Latitude,Longitude,A1_TotalTel,A1_ValidTel,A2_RSSI,A2_TotalTel,A2_ValidTel
DateTime,,,,,,,,,,,,
2020-01-22 00:00:01,86399,9,5,97437,97437,47.304855,8.049462,57595,57572,1.58,57231,57159
2020-01-22 00:00:02,86400,9,5,97437,97437,47.304855,8.049462,57599,57576,1.41,57235,57163
2020-01-22 00:00:03,86401,9,5,97437,97437,47.304855,8.049462,57604,57581,1.58,57239,57167
2020-01-22 00:00:04,86402,9,5,97437,97437,47.304855,8.049462,57609,57586,1.44,57244,57172
2020-01-22 00:00:05,86403,9,5,97437,97437,47.304855,8.049462,57613,57590,1.45,57248,57176

In [196]:
df = df.drop(columns='Position')

In [197]:
df = df.asfreq('H', method='ffill')

In [198]:
df.head()

,ID,AreaNumber,Track,PositionNoLeap,Latitude,Longitude,A1_TotalTel,A1_ValidTel,A2_RSSI,A2_TotalTel,A2_ValidTel
DateTime,,,,,,,,,,,
2020-01-22 00:00:01,86399,9,5,97437,47.304855,8.049462,57595,57572,1.58,57231,57159
2020-01-22 01:00:01,86741,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371
2020-01-22 02:00:01,86741,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371
2020-01-22 03:00:01,86741,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371
2020-01-22 04:00:01,86741,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371

In [199]:
std = df['A2_RSSI'].std()
mu = df['A2_RSSI'].mean()
limit_upper = mu + (3*std)
limit_lower = mu - (3*std)
fault_actual = (df['A2_RSSI'] < limit_lower) + (df['A2_RSSI'] > limit_upper)

limit_lower_predicted = mu - (1.5*std)
fault_predicted = (df['A2_RSSI'] < limit_lower_predicted)
fault_probability = 1 / df['A2_RSSI']
# norm values
fault_probability = fault_probability / fault_probability.max()
fault_predicted.sum()

262

In [200]:
fault_probability = fault_probability / fault_probability.max()
fault_probability.max()

1.0

In [201]:
df['fault_actual'] = fault_actual
df['fault_predicted'] = fault_predicted
df['fault_probability'] = fault_probability

In [202]:
df.head()

,ID,AreaNumber,Track,PositionNoLeap,Latitude,Longitude,A1_TotalTel,A1_ValidTel,A2_RSSI,A2_TotalTel,A2_ValidTel,fault_actual,fault_predicted,fault_probability
DateTime,,,,,,,,,,,,,,
2020-01-22 00:00:01,86399,9,5,97437,47.304855,8.049462,57595,57572,1.58,57231,57159,True,True,0.050633
2020-01-22 01:00:01,86741,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371,True,True,0.050633
2020-01-22 02:00:01,86741,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371,True,True,0.050633
2020-01-22 03:00:01,86741,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371,True,True,0.050633
2020-01-22 04:00:01,86741,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371,True,True,0.050633

In [203]:
df.shape

(8496, 14)

In [204]:
df = df.reset_index()
df['DateTime'] = df['DateTime'].astype(str)

In [205]:
df['ID'] = df.index

In [206]:
df

,DateTime,ID,AreaNumber,Track,PositionNoLeap,Latitude,Longitude,A1_TotalTel,A1_ValidTel,A2_RSSI,A2_TotalTel,A2_ValidTel,fault_actual,fault_predicted,fault_probability
0,2020-01-22 00:00:01,0,9,5,97437,47.304855,8.049462,57595,57572,1.58,57231,57159,True,True,0.050633
1,2020-01-22 01:00:01,1,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371,True,True,0.050633
2,2020-01-22 02:00:01,2,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371,True,True,0.050633
3,2020-01-22 03:00:01,3,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371,True,True,0.050633
4,2020-01-22 04:00:01,4,9,5,97437,47.304855,8.049462,59192,59169,1.58,58485,58371,True,True,0.050633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8491,2021-01-09 19:00:01,8491,21,2,215791,47.389634,8.069771,2068426,2044596,2.40,1867906,1863256,False,False,0.033333
8492,2021-01-09 20:00:01,8492,17,2,173383,47.369122,8.044501,2085002,2061156,2.50,1884253,1879522,False,False,0.032000
8493,2021-01-09 21:00:01,8493,40,1,427601,47.240678,8.189441,2101581,2077724,2.46,1900839,1896097,False,False,0.032520
8494,2021-01-09 22:00:01,8494,20,13,199749,47.390880,8.052653,2118248,2094378,2.29,1917501,1912752,False,False,0.034934
8495,2021-01-09 23:00:01,8495,11,1,110156,47.315900,8.052739,2134003,2109980,2.46,1933873,1929111,False,False,0.032520

In [207]:
sample_json = df.to_dict(orient='record')

In [209]:
df['DateTime']

0       2020-01-22 00:00:01
1       2020-01-22 01:00:01
2       2020-01-22 02:00:01
3       2020-01-22 03:00:01
4       2020-01-22 04:00:01
               ...
8491    2021-01-09 19:00:01
8492    2021-01-09 20:00:01
8493    2021-01-09 21:00:01
8494    2021-01-09 22:00:01
8495    2021-01-09 23:00:01
Name: DateTime, Length: 8496, dtype: object

In [210]:
import json

In [212]:
with open("../data/interim/sample_frontend.json", "w") as f:
    json.dump(sample_json,f)

In [213]:
sample_json

A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 14:00:01',
  'ID': 950,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 15:00:01',
  'ID': 951,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 16:00:01',
  'ID': 952,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 17:00:01',
  'ID': 953,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 18:00:01',
  'ID': 954,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 19:00:01',
  'ID': 955,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 20:00:01',
  'ID': 956,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 21:00:01',
  'ID': 957,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 22:00:01',
  'ID': 958,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-01 23:00:01',
  'ID': 959,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 00:00:01',
  'ID': 960,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 01:00:01',
  'ID': 961,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 02:00:01',
  'ID': 962,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 03:00:01',
  'ID': 963,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 04:00:01',
  'ID': 964,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 05:00:01',
  'ID': 965,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 06:00:01',
  'ID': 966,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 07:00:01',
  'ID': 967,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 08:00:01',
  'ID': 968,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 09:00:01',
  'ID': 969,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 10:00:01',
  'ID': 970,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 11:00:01',
  'ID': 971,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 12:00:01',
  'ID': 972,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 13:00:01',
  'ID': 973,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 14:00:01',
  'ID': 974,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 15:00:01',
  'ID': 975,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 16:00:01',
  'ID': 976,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 17:00:01',
  'ID': 977,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 18:00:01',
  'ID': 978,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 19:00:01',
  'ID': 979,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 20:00:01',
  'ID': 980,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 21:00:01',
  'ID': 981,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 22:00:01',
  'ID': 982,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-02 23:00:01',
  'ID': 983,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 00:00:01',
  'ID': 984,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 01:00:01',
  'ID': 985,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 02:00:01',
  'ID': 986,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 03:00:01',
  'ID': 987,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 04:00:01',
  'ID': 988,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 05:00:01',
  'ID': 989,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 06:00:01',
  'ID': 990,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 07:00:01',
  'ID': 991,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 08:00:01',
  'ID': 992,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 09:00:01',
  'ID': 993,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 10:00:01',
  'ID': 994,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 11:00:01',
  'ID': 995,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 12:00:01',
  'ID': 996,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 13:00:01',
  'ID': 997,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 14:00:01',
  'ID': 998,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 {'DateTime': '2020-03-03 15:00:01',
  'ID': 999,
  'AreaNumber': 20,
  'Track': 12,
  'PositionNoLeap': 199660,
  'Latitude': 47.39085222200981,
  'Longitude': 8.052543326288072,
  'A1_TotalTel': 138303,
  'A1_ValidTel': 138182,
  'A2_RSSI': 2.36,
  'A2_TotalTel': 137567,
  'A2_ValidTel': 137436,
  'fault_actual': False,
  'fault_predicted': False,
  'fault_probability': 0.03389830508474576},
 ...]