In [2]:
import pandas as pd
import os

In [3]:
input_dir = "../data/raw"
fname = 'rssi.csv'
fpath = os.path.join(input_dir, fname)

In [8]:
df_chunks = pd.read_csv(fpath, chunksize=10000,parse_dates=['DateTime'] )

In [9]:
df = next(df_chunks)

In [10]:
df = df.set_index('DateTime')
df

,ID,AreaNumber,Track,Position,PositionNoLeap,Latitude,Longitude,A1_TotalTel,A1_ValidTel,A2_RSSI,A2_TotalTel,A2_ValidTel
DateTime,,,,,,,,,,,,
2021-01-09 00:00:01,1,33,1,315325,322075,47.310370,8.114984,1754745,1731249,2.09,1553797,1549606
2021-01-09 00:00:02,2,33,1,315404,322154,47.310308,8.115033,1754750,1731254,1.99,1553802,1549611
2021-01-09 00:00:03,3,33,1,315477,322227,47.310248,8.115072,1754755,1731259,2.05,1553807,1549616
2021-01-09 00:00:04,4,33,1,315542,322292,47.310194,8.115106,1754760,1731264,2.06,1553812,1549621
2021-01-09 00:00:05,5,33,1,315601,322351,47.310145,8.115134,1754764,1731268,1.75,1553816,1549625
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-09 02:46:36,9996,40,2,420442,427192,47.241035,8.189314,1800582,1777084,2.19,1599626,1595432
2021-01-09 02:46:37,9997,40,2,420442,427192,47.241035,8.189314,1800587,1777089,2.19,1599631,1595437
2021-01-09 02:46:38,9998,40,2,420442,427192,47.241035,8.189314,1800592,1777094,2.16,1599636,1595442
2021-01-09 02:46:39,9999,40,2,420442,427192,47.241035,8.189314,1800596,1777098,2.19,1599640,1595446
2021-01-09 02:46:40,10000,40,2,420442,427192,47.241035,8.189314,1800601,1777103,2.16,1599645,1595451

In [11]:
cols = ['Track','PositionNoLeap','A1_TotalTel', 'A1_ValidTel', 'A2_RSSI', 'A2_TotalTel', 'A2_ValidTel'] 
grouped = df.loc[:,cols] \
            .groupby(['Track','PositionNoLeap']) \
            .resample('1H') \
            .mean()

In [12]:
grouped = grouped.drop(columns=['PositionNoLeap','Track'])

In [13]:
df.to_csv('../../data-processing/data/interim/rssi_sample.csv')