In [2]:
import pandas as pd

In [3]:
!ls ../../data/processed/

disruption.csv	location_sorted.csv	  rssi.db
location.csv	position_lat_lon_ref.csv  trainNodes3857.csv

In [6]:
fpath = "../../data/processed/location.csv"
df = pd.read_csv(fpath)

In [12]:
df = df.sort_values(by="Position_m").reset_index(drop=True)
df

     Position_m  PositionNoLeap   Latitude  Longitude
0            97    97437.000000  47.304855   8.049462
1            98    98739.318182  47.305963   8.049999
2            99    99465.757576  47.306592   8.050255
3           100   100467.000000  47.307470   8.050526
4           101   101491.176471  47.308384   8.050680
..          ...             ...        ...        ...
327         424   424504.500000  47.243380   8.188478
328         425   425587.466667  47.242437   8.188825
329         426   426535.681818  47.241609   8.189114
330         427   427134.583333  47.241085   8.189296
331         428   428021.714286  47.240311   8.189572

[332 rows x 4 columns]

In [14]:
fpath = "../../data/processed/location_sorted.csv"

In [15]:
df.to_csv(fpath)

In [8]:
df.max()

Position_m           428.000000
PositionNoLeap    428021.714286
Latitude              47.393726
Longitude              8.189572
dtype: float64

In [9]:
df.min()

Position_m           97.000000
PositionNoLeap    97437.000000
Latitude             47.240311
Longitude             8.041447
dtype: float64